<html>
    <head>
        <title>Tarefas</title>
        <link href="/css/style.css" rel="stylesheet" type="text/css" />
        <script language="JavaScript" type="text/javascript" src="/jquery-1.5.2.js"/></script>
        <script language="JavaScript" type="text/javascript" src="/task.js"></script> 
    </head>
    <body>
        <h1>Aplicação para gerênciar tarefas</h1>

        <div id="tasks_not_complete">
        </div>
        <div id="tasks_complete">
        </div>
    </body>
</html>

    
