<html>
    <head>
        <title>Tarefas</title>
        <script language="JavaScript" type="text/javascript" src="/views/jquery-1.5.2.js"></script>
        <script language="JavaScript" type="text/javascript" src="/views/task.js"></script> 
        <script language="JavaScript" type="text/javascript">   
            $(document).ready(
                    function(){
                        aviso();
                        });   
         </script>
        
    </head>
    <body>
        <script language="JavaScript" type="text/javascript">
            aviso();
        </script>
        <h1>Aplicação para gerênciar tarefas</h1>

        <div id="tasks_incomple">
            Tarefas não concluidas
        </div>

        <div id="tasks_complete">
            Tarefas concluidas
        </div>
    </body>
</html>

    
