<div id="new_task" >
   <input type="text" id="txt_new_task" autocomplete="off" onblur="fillTaskText()" onfocus="clearField(this)"/>
   <input type="button" id="btn_new_task" value="Adicionar"/>
</div>
<hr/>
<div id="tasks">
</div>
<div id="alert"></div>
<div id="loader"></div>
