<div id="new_task" >
    <span>
        <input type="text" id="txt_new_task" tabindex="1" autocomplete="off" onblur="fillTaskText()" onfocus="clearField(this)"/>
        <a href="#" id="btn_new_task" title="Adicionar">Adicionar</a>
   </span>
    <ul>
       <li><a href="/tasks_not_complete" title="Tarefas pendentes" id="undone" class="links_status_task">pendentes</a></li>
       <li><a href="/tasks_complete" title="Tarefas concluídas" id="done" class="links_status_task">concluídas</a></li>
    </ul>
</div>
<hr/>
<div id="tasks">
</div>
<div id="loader"></div>
<div id='no_task'></div>
