<html>
    <head>
        <title>Tarefas</title>
        <link rel="icon" type="image/png" href="/images/favicon.ico"/>
        <link href="/css/style.css" rel="stylesheet" type="text/css" />
        <script language="JavaScript" type="text/javascript" src="/jquery-1.5.2.js"/></script>
        <script language="JavaScript" type="text/javascript" src="/task.js"></script> 
    </head>
    <body>
        <div id="content">
           <h3>Tarefas</h3>
           <div id="new_task" >
               <input type="text" id="txt_new_task" autocomplete="off" onblur="fillTaskText()" onFocus="clearField(this)"/>
               <input type="button" id="btn_new_task" value="Adicionar"/>
           </div>
           <div id="tasks_not_complete"></div>
           <div id="tasks_complete"></div>
        </div>
    </body>
</html>

    
