<html>
    <head>
        <title>Tarefas</title>
        <link href="/css/style.css" rel="stylesheet" type="text/css" />
        <script language="JavaScript" type="text/javascript" src="/jquery-1.5.2.js"/></script>
        <script language="JavaScript" type="text/javascript" src="/task.js"></script> 
    </head>
    <body>
        <h3>Aplicação para gerênciar tarefas</h3>
        <form>
            <input type="text" name="" id=""/>
            <input type="button" name="" id="btn_new_task" value="Nova tarefa"/>
        </form>
        <div id="tasks_not_complete">
        </div>
        <div id="tasks_complete">
        </div>
    </body>
</html>

    
