<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/> 
        <title>Tarefas</title>
        <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen"/>
        <link rel="stylesheet" href="/css/print.css" type="text/css" media="screen print"/>
        <link rel="icon" type="image/ico" href="/images/favicon.ico"/>
        <script type="text/javascript" src="/js/jquery-1.5.2.js"></script>
        <script type="text/javascript" src="/js/task.js"></script>
    </head>
    <body>
        <div id="main">
            <div id="content">
               <div id="header">
                   <h2>Tarefas</h2>
                   <ul>
                       <li id="all">todas</li>
                       <li id="undone">pendentes</li>
                       <li id="done">concluídas</li>
                   </ul>
               </div>
               <hr/>
               <%= yield %>
           </div>
           <hr/>
           <div id="footer">
               <p><a href="#" title="Ajuda">Ajuda</a> | © 2011 <a href="http://douglasdoro.wordpress.com" title="Blog http://douglasdoro.wordpress.com">@douglasdoro</a> todos os direitos reservados.</p>
           </div>
           <div id="help"></div>
       </div>
    </body>
</html>

    
